
@model nomina2.Models.DTO.OvertimeDTO

@{
    ViewBag.Title = "Edit User";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <h2>Update user </h2>
    <div>
        @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { @class = "form" }))
        {
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label>Name:</label>
                @Html.TextBoxFor(model => model.Overtime_description, new { @class = "form-control" })
            </div>

      
            <button type="submit" class="btn btn-primary">Update</button>
        }
    </div>
</body>
</html>

